@model ThemeViewModel
<h1 class="page-header">@Model.Title</h1>
<article class="blog-post">
    <div class="blog-post-image">
        <a href="post.html"><img src="images/750x500-5.jpg" alt=""></a>
    </div>
    <div class="blog-post-body">
        <div class="post-meta"><span>by <a href="#">@Model.Author.UserName</a></span>/<span><i class="fa fa-clock-o">
            </i>@Model.UpdatedOn</span>/<span><i class="fa fa-clock-o">@Model.CreatedOn</i></span>/<span><i class="fa fa-comment-o"></i> 
            
            <a href="#">@Model.Comments.Count</a></span></div>
        <div class="container-fluid theme">
            @Model.Content
        </div>
        @Html.ActionLink("Add New Comment", "Create", "Comment", new { id = Model.Id }, new { @class = "btn btn-default" })
        <div id="div1">
            
            @Ajax.ActionLink("Show Comments", "ShowComment", "Comment", new { id = Model.Id },
             new AjaxOptions
             {
                 //HttpMethod = "POST",
                 InsertionMode = InsertionMode.Replace,
                 UpdateTargetId = "div1",

             }, new { @class = "btn btn-default" })
            
        </div>

    </div>
</article>

