@model ICollection<Category>
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Add new category", "Create", "Category", null, new { @class = "btn btn-default" })<br />
@foreach (var item in Model)
{
    <article class="blog-post">
        <div class="blog-post-image">
            <a href="post.html"><img src="images/750x500-1.jpg" alt=""></a>
        </div>
        <div class="blog-post-body">
            <h2>@item.Name</h2>
            <div class="post-meta">

                <span><i class="fa fa-clock-o"></i>@item.CreatedOn</span>/<span><i class="fa fa-clock-o"></i>@item.UpdatedOn</span>/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span>
            </div>
            <p>@item.ShortDescription</p>
            @Html.ActionLink("Edit", "Edit", "Categories", new { @item.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "Delete", "Categories", new { @item.Id }, new { @class = "btn btn-default" })
        </div>
    </article>
}
