@model ICollection<Category>
@{
    ViewBag.Title = "Categories";
}
@{int i = 0;}

<h1 class="page-header">
    Categories</h1>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">

                    <div class="table-button-theme">@Html.ActionLink("Add new category", "Create", "Categories", null, new { @class = "btn btn-default btn-theme" })</div>


                </div>
            </div>
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">
                    Category Table

                </div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Short Description</th>
                            <th>Created on</th>
                            <th>Update on</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>@item.ShortDescription</td>
                                <td>@item.CreatedOn</td>
                                <td>@item.UpdatedOn</td>
                                <td>@Html.ActionLink("Edit", "Edit", "Categories", new { @item.Id }, new { @class = "btn btn-default" })</td>
                                <td>@Html.ActionLink("Delete", "Delete", "Categories", new { @item.Id }, new { @class = "btn btn-default" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
