@model ICollection<CommentViewModel>
<div>
   @foreach (var item in Model){
       @item.CommentContent <br/>
       @item.Title<br/>
    @Html.ActionLink("Edit", "Edit", "Comment", new { @item.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Delete", "Delete", "Comment", new { @item.Id }, new { @class = "btn btn-default" })
       <br/>
   }

</div>
