@{
    ViewBag.Title = "Admin Home Page";
}
@model IEnumerable<AdminThemeViewModel>
@Html.ActionLink("Add new Theme", "Create", "Themes", null, new { @class = "btn btn-default" })<br />
@Html.ActionLink("Role", "Index", "Role")

<table class="admin-table-themes" cellpadding="10">
    @foreach (var item in Model)
    {
        <tr>
            <td ><h2>@Html.ActionLink(@item.Title, "Details", "Home", new { @item.Id }, null)</h2></td>           
            <td><p>@item.Content</p></td>
            <td> @Html.ActionLink("Edit", "Edit", "Themes", new { @item.Id }, new { @class = "btn btn-default" })</td>
            <td>  @Html.ActionLink("Delete", "Delete", "Themes", new { @item.Id }, new { @class = "btn btn-default" })</td>
        </tr>
    }
</table>