<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#about">Lifestyle</a></li>
                    <li><a href="#contact">Travel</a></li>
                    <li><a href="#contact">Fashion</a></li>
                    <li><a href="about.html">About Me</a></li>
                    <li><a href="about.html">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-reddit"></i></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <header>
            <a href="index.html"><img src="images/logo.png"></a>
        </header>

        <section>
            <div class="row">
                <div class="col-md-8">
                    @RenderBody()
                </div>
                <div class="col-md-4 sidebar-gutter">
                    <aside>
                        <!-- sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">About Me</h3>
                            <div class="widget-container widget-about">
                                <a href="post.html"><img src="images/author.jpg" alt=""></a>
                                <h4>Jamie Mooz</h4>
                                <div class="author-title">Designer</div>
                                <p>While everyone’s eyes are glued to the runway, it’s hard to ignore that there are major fashion moments on the front row too.</p>
                            </div>
                        </div>
                        <!-- sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Featured Posts</h3>
                            <div class="widget-container">
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-1.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">The State of the Word 2014</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-2.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">Why The Muppets Needs to Channel 30 Rock</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-3.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">The State of the Word 2014</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-4.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">Vintage-Inspired Finds for Your Home</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                                <article class="widget-post">
                                    <div class="post-image">
                                        <a href="post.html"><img src="images/90x60-5.jpg" alt=""></a>
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="post.html">The State of the Word 2014</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <!-- sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Socials</h3>
                            <div class="widget-container">
                                <div class="widget-socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-reddit"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- sidebar-widget -->
                      @{Html.RenderAction("ShowCategories", "Home");}
                </div>
                </aside>
            </div>
    </div>
    </section>
    </div>
    <footer class="footer">
        <div class="footer-socials">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-reddit"></i></a>
        </div>
        <div class="footer-bottom">
            <i class="fa fa-copyright"></i> Copyright 2015. All rights reserved.<br>
            Theme made by <a href="http://www.moozthemes.com">MOOZ Themes</a>
        </div>
    </footer>
        
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @RenderSection("scripts", required: false)
</body>
</html>
@* <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@